body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #c60c30; /* Dänemark Flagge Rot */
}

#game-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#danish-display {
    font-size: 1.5em;
    letter-spacing: 0.5em;
    margin: 20px 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#punkte {
    font-weight: bold;
}

#hangman-container {
    margin: 20px 0;
}

#hangman-canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}

#buchstaben-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.buchstabe-button {
    padding: 10px;
    font-size: 1.2em;
    width: 40px;
    cursor: pointer;
    background-color: #c60c30;
    color: white;
    border: none;
    border-radius: 5px;
}

.buchstabe-button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
    opacity: 0.6;
}

#neustart-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #c60c30;
    color: white;
    border: none;
    border-radius: 5px;
}